@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700&display=swap');

/*body {*/
/*    background: url(https://picsum.photos/id/235/1028/760) no-repeat center center;*/
/*    background-size: cover;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-family: 'Orbitron', sans-serif;*/
/*}*/

#clock {
    background: linear-gradient(
            45deg,
            rgba(23, 23, 23, .97) 2%,
            rgba(29, 29, 29, .97) 14%,
            rgba(34, 34, 34, .97) 39%,
            rgba(36, 36, 36, .97) 43%,
            rgba(31, 31, 31, .97) 50%,
            rgba(79, 74, 74, .97) 50%,
            rgba(79, 74, 74, .97) 62%,
            rgba(102, 94, 94, .97) 84%,
            rgba(110, 103, 103, .97) 91%,
            rgba(136, 127, 127, .97) 98%
    );
    width: 400px;
    height: 150px;
    border-radius: 20px;
    box-shadow:
            inset 0 0 0 10px #111,
            5px 5px 10px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: #B6FF77;
    text-shadow:
            -2px -2px 10px #B6FF77,
            2px 2px 10px #B6FF77;
    padding: 0 .5em;
}

#clock span {
    font-size: .5em;
}
